.defaultCounter {
    font-size: 30px;
    font-weight: bold;
    /*font-weight: normal;*/
    padding-bottom: 0.3rem;
    color: #f8f8f8;
}
.criticalCounter {
    font-size: 30px;
    font-weight: bold;
    color: #ec0c2e;
    /*color:crimson;*/
    padding-bottom: 0.3rem;
}