.input__wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0.5rem;
}
.input__text {
padding-right: 1rem;
}

.input_primary {
    border-radius: 3px;
    padding: 0.5rem 0.5rem;
    font-family: 'VT323', monospace;
    font-size: 20px;
     background-color: transparent;
     border: 1px dotted greenyellow;
     color: white;
 }

.error {
    color: crimson;
    font-size: 15px;
}

.default {
    color: white;
    font-size: 15px;
}