.card {
    width: 50%;
    border-image-source: url("./Frame2.svg");
    border-image-slice: 33% 33% 33% 33%;
    border-image-width: 10px 10px 10px 10px;
    border-style: solid;
    border-image-repeat: space;
    opacity: 0.9;
    color: aliceblue;
    margin: 1rem;
    padding: 3rem;
}